.sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width .3s ease-in;
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center; 
    width: 100%;
}

.lang {
    margin-left: 35px;
}



.themeBtn {
    color: var(--primary-color);
}

.collapsedBtn {
    position: absolute;
    z-index: 1;
    bottom: 25px;
    right: -40px;
}

.items {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-left: 25px;
    transition: opacity 0.3s ease, width 0.3s ease;
}

.link {
    display: flex;
    align-items: center;
    gap: 10px;
    fill: var(--inverted-secondary-color);
}

.text {
    opacity: 1;
    width: auto;
    overflow: hidden;
    transition: opacity 0.3s ease, width 0.3s ease;
}

.collapsed {

    width: var(--sidebar-width-collapsed);

    .switchers {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    } 

    .lang {
        margin-left: 0;
    }

    .link {
        transition: opacity 0.6s;
    }

    .text {
        opacity: 0;
        display: none;
    }
}