body .dark {
    --bg-color: #2b2d42; /* Темно-синий/серый фон */
    --inverted-bg-color: #8d99ae; /* Светло-серый для элементов */
    --primary-color: #ffba08; /* Красный акцент */
    --secondary-color:  #f4a261; /* Темно-красный для вторичных акцентов */
    --inverted-primary-color:  #3a86ff;; /* Нежно-голубой */
    --inverted-secondary-color:#78c6fa; /* Сине-зеленый */
}

