.appLink {
    color: var(--primary-color);
    font-size: var(--font-size-l);
    text-decoration: none;
}

.primary {
    color:var(--primary-color);
    font-weight: 500;
}

.secondary {
    color: var(--inverted-secondary-color);
}